  <div class="form-group">
    <button  type="button" [hidden]="myVar" (click)="close(boxI.boxId)" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </button>
    <label for="box" id="tag-name" [hidden]="myVar" class="font-weight-bold">{{boxI.boxTag}}</label>
    <button type="button" id="edit-button" [hidden]="myVar" (click)="edit()" class="btn btn-success font-weight-bold" >Edit</button>
    <input type="text" [hidden]="!myVar" class="form-control edit-text" id="box" name="box" (keyup.enter)="addText(box.value,boxI.boxId)" #box>
  </div>

